xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.DS_Store
Amethyst/Amethyst/basebins.tar
/Amethyst/build
basebins/base_hook/base_hook.dylib
basebins/basebins.tar
basebins/jbutil/jbutil
basebins/jbutil/shc/arm64.bin
basebins/jbutil/shc/arm64.o
basebins/launchd_hook/launchd_hook.dylib
basebins/libjailbreak/libjailbreak.dylib
/basebins/staging
/basebins/staging_tnsv2
/basebins/staging_tnsv2_stub
