Package: com.staturnz.tnsv2-updater
Architecture: iphoneos-arm
Name: TNSv2 Updater
Author: staturnz
Priority: optional
Version: 1.0.2
Description: Support package for updating Amethyst jailbreak files while jailbroken with TNSv2.
Maintainer: staturnz
Section: System
Depends: firmware (>= 12.0), firmware (<< 13.0)
Conflicts: cy+cpu.arm64e, cy+model.iphone (= 10.1), cy+model.iphone (= 10.2), cy+model.iphone (= 10.3), cy+model.iphone (= 10.4), cy+model.iphone (= 10.5), cy+model.iphone (= 10.6)
